body{
    font-size: 18px;
}

.contents{
    font-family: "YuGothic Medium", sans-serif;
    max-width: 600px;
    margin: 200px auto 100px;
    letter-spacing: 0.2em;
    line-height: 2;
    text-align: justify;
    font-feature-settings: "palt";
}

.contents p{
    color: #a62929;
}

.contents:not(:first-child){
    margin-top: 100px;
}

.palt p{
    color: blue;
}

.nopalt{
    font-feature-settings: normal;
    letter-spacing: 0.1em;
}

.nopalt h1{
    color: #cccccc;
}

.serif{
    font-family:"游明朝" "YuMincho", YuMincho, serif;
}

.google{
    font-family: 'BIZ UDPGothic', sans-serif;
}
